
 
    <nav class="site-nav loc-{{include.location}}">
        <ul>
            {% assign navigation = site.pages | sort:"order" %}
            {% for page in navigation %}
                {% if page.title %}
                <li class="icon-{{page.title |slugify}}"><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
                {% endif %}
            {% endfor %}

<!-- може да се вмъкне допълнително съдържание  -->
            {% if include.location == 'header' %}
            <li class="icon-search"><a href="#" > </a></li>
            {% endif %}
        </ul>

        
        
    </nav>
