@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-main), sans-serif;
    color: var(--text-color);
}

button, textarea,form, input, option, select,a {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    padding-bottom: 0.5em;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p {
    padding-bottom: 1.5em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.site-title,
.site-title a{
    color: var(--main-color);
    padding: 0;
}

.site-title {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.site-header .page-title {
    color: #fff;
}

.hero {
    color: #fff;
    text-align: center;
}


