.site {
    position: relative;
    
}

main {
    max-width: 65em;
    margin: 0 auto;
}

.site-header {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2em;
    min-height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1495232714953-ef7f41577786?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=885&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    
    h2,
    p {
    opacity: 0;
    transition: opacity 1s 0.6s ease-in, transform 1s ease-in 0.7s;
    }

    h2 { transform:translateX(-20vw);}
    p { transform:translateX(20vw);}
}





.loaded .hero h2,
.loaded .hero p {
    opacity: 1;
    transform:translateX(0);
}

.contacts-map {
    max-width: 90%;
    margin: 2em 0;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

.site-footer {
    /* margin-top: 100%; */
    padding: 1rem 1.5rem;
    background: var( --main-color);
    color: #fff;
    width: 100%;
}

.site-footer .site-nav a {
    background: none;
}

.site-footer .site-nav ul {
    flex-direction: column;
    font-size: .9rem;
}

/* crad */

.card {
    max-width: 20rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 1em;
    margin: 2em 0;
}

.card p {
    display: none;
}

.card p:first-of-type {
    display: block;
}

input:checked + .card p {
    display: block;
}

.button_more{
    padding: 0.8em 1em;
    background: var(--main-color);
    border-radius: 6px;
    color: #fff;
    font-weight: 700;
}

.card .button_more .less {
    display: none;
}

input:checked + .card .button_more .more {
    display: none;
}

input:checked + .card .button_more .less {
    display: inline-block;
}

input#card_id_1_more {
    display: none;
}