.site-nav ul {
    list-style: none;
    display: flex;
}

.site-nav li {
    display: block;
}

.site-nav li a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(51, 51, 51, 0.7);
    color:#fff;
    transition: background 0.2s linear;
}

.site-nav .current-page a,
.site-nav a:hover {
    background: rgba(130, 6, 161, 0.596);;
}

.site-nav ul ul {
    display: none;
    position: absolute;
    z-index: 100;
}

.site-nav li:hover ul {
    display: block;
}

/* Animation */

.site-nav ul li {
    transform: translateY(-5rem);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.site-nav ul li:nth-child(2) {transition-delay: 0.1s;}
.site-nav ul li:nth-child(3) {transition-delay: 0.2s;}
.site-nav ul li:nth-child(4) {transition-delay: 0.3s;}
.site-nav ul li:nth-child(5) {transition-delay: 0.4s;}

.loaded .site-nav ul li {
    transform: translateY(0);
    opacity: 1;
}

