<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/FontAwesome-free-5.11.2/css/all.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
});
    </script>
</head>
<body class="page-{{page.title | slugify}}">
    <div class="site">
        <header class="site-header">
            <section class="logo-nav">
                <h1 class="site-title"><a href="/">{{site.title}}</a></h1>

                {% include navigation.html location = "header" %}
             </section>
            <h3 class="page-title">{{page.title}}</h3>
            <section class="hero">
                <h2>The best hero title ever</h2>
                <p>Sometimes the most rewarding trips are the ones where you can just let go and savor the experience, knowing you are in good hands</p>
            </section> 
        </header>

        <main>
            <div class="content">
                {{ content }}
            </div>
           
            
        </main>
        <footer class="site-footer">
            {% include navigation.html location = "footer" %}
            <p>{{ site.title}} &copy All rights reserved.</p>
        </footer>
    
  
    </div>
    
    
</body>
</html>